<!DOCTYPE html>
<html>
<body>
  <style>
    img {
      width: 85vw;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .buttons a {
      margin: 48px;
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  </style>

  <div class="content">
  </div>
  <div class="buttons">
    <a href="/">PREV</a>
    <a href="/">NEXT</a>
  </div>
</body>
</html>
